<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="https://github.com/the-channels/channels">
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        </a>
        <br/>
        <br/>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <iframe src="https://ghbtns.com/github-btn.html?user=the-channels&repo=channels&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
        <br/>
        <br/>

        You are welcome to contribute by
        <a href="https://github.com/the-channels/channels/blob/master/NewChannel.md#how-to-create-a-new-channel">adding support</a> for websites or simply starring the project.
        <br/>
        <br/>
        <a href="https://www.bytedelight.com/?page_id=3515">Spectranet</a> is required (or can be emulated in
        <a href="https://www.habisoft.com/espectrum/EN.htm#Descargas">Es.pectrum</a> or
        <a href="http://fuse-emulator.sourceforge.net/#Download">Fuse</a>).

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
